<!-- footer -->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Service</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">Help</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Order Status</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Quick Shop</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">T-Shirt</a></li>
                            <li><a href="#">Shirt</a></li>
                            <li><a href="#">Sweater</a></li>
                            <li><a href="#">Trousers</a></li>
                            <li><a href="#">Hat</a></li>
                        </ul>
                    </div>
                </div>				
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2018 E-Shopper</p>
                <p class="pull-right">iTeam - 1512510 1512519 1512545</p>
            </div>
        </div>
    </div>

    <!-- <script src="http://localhost:3000/javascripts/jquery.js"></script>
	<script src="http://localhost:3000/javascripts/price-range.js"></script>
    <script src="http://localhost:3000/javascripts/jquery.scrollUp.min.js"></script>
	<script src="http://localhost:3000/javascripts/bootstrap.min.js"></script>
    <script src="http://localhost:3000/javascripts/jquery.prettyPhoto.js"></script>
    <script src="http://localhost:3000/javascripts/main.js"></script> -->

    <!-- uncomment when submit to heroku -->

    <script src="https://eshopper777.herokuapp.com/javascripts/jquery.js"></script>
	<script src="https://eshopper777.herokuapp.com/javascripts/price-range.js"></script>
    <script src="https://eshopper777.herokuapp.com/javascripts/jquery.scrollUp.min.js"></script>
	<script src="https://eshopper777.herokuapp.com/javascripts/bootstrap.min.js"></script>
    <script src="https://eshopper777.herokuapp.com/javascripts/jquery.prettyPhoto.js"></script>
    <script src="https://eshopper777.herokuapp.com/javascripts/main.js"></script>
<!-- /footer -->