<!-- head -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop | E-Shopper</title>
    <!-- <link href="http://localhost:3000/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="http://localhost:3000/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="http://localhost:3000/stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="http://localhost:3000/stylesheets/price-range.css" rel="stylesheet">
    <link href="http://localhost:3000/stylesheets/animate.css" rel="stylesheet">
    <link href="http://localhost:3000/stylesheets/main.css" rel="stylesheet">
    <link href="http://localhost:3000/stylesheets/responsive.css" rel="stylesheet"> -->

    <link href="https://eshopper777.herokuapp.com/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="https://eshopper777.herokuapp.com/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="https://eshopper777.herokuapp.com/stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="https://eshopper777.herokuapp.com/stylesheets/price-range.css" rel="stylesheet">
    <link href="https://eshopper777.herokuapp.com/stylesheets/animate.css" rel="stylesheet">
    <link href="https://eshopper777.herokuapp.com/stylesheets/main.css" rel="stylesheet">
    <link href="https://eshopper777.herokuapp.com/stylesheets/responsive.css" rel="stylesheet"> 

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
    crossorigin="anonymous">
<!--/head-->