
<div class="price-range"><!--price-range-->
    <h2>Price Range</h2>
    <div class="well">
         <input type="text" class="span2" value="" data-slider-min="100000" data-slider-max="1000000" data-slider-step="5" data-slider-value="[200000,600000]" id="sl2" ><br />
         <b>100000 ₫</b> <b class="pull-right">1000000 ₫</b>
    </div>
</div><!--/price-range-->