.error{
    color: red;
}

.order-box{
    background-color: white;
    padding: 10px 30px 20px;
}

body{
    background-color: #f4f4f4;
}

.checkout{
    margin-bottom: 50px;
}

.delivery-method{
    margin-bottom: 30px;
}

header{
    background-color: #1ab394;
}

.cart-info{
    background-color: white;
    padding: 10px 20px;
}

.cart_info {
    background-color: white;
}

.cart_quantity_button {
    display: flex;
}

.account-content{
    margin: 50px 0;
}

.info-user{
    background-color: white;
    padding: 30px 10px;
}

.nav-manage-account{
    background-color: white;
    padding: 20px 10px;
}

.user-password{
    background-color: white;
    padding: 30px 30px;
}

.cart_items{
    margin-top: 20px;
    margin-bottom: 50px;
}

.es-content{
    margin-top: 30px;
    margin-bottom: 50px;
}