.error{
    color: red;
}

.order-box{
    background-color: white;
    padding: 10px 30px 20px;
}

body{
    background-color: #f4f4f4;
}

.checkout{
    margin-bottom: 50px;
}

.delivery-method{
    margin-bottom: 30px;
}

header{
    background-color: #1ab394;
}

.cart-info{
    background-color: white;
    padding: 10px 20px;
}

.cart_info {
    background-color: white;
}