<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>

		<link rel="shortcut icon" href="images/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>


<body>
	<header id="header">
		<% include ../partials/header %>
	</header>
	<!--/header-->

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
					<li>
						<a href="#">Home</a>
					</li>
					<li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="col-md-8 cart-list-product">
				<div class="table-responsive cart_info">
					<table class="table table-condensed">
						<thead>
							<tr class="cart_menu">
								<td class="image ">Item</td>
								<td class="description ">Description</td>
								<td class="price ">Price</td>
								<td class="quantity ">Quantity</td>
								<td class="total ">Total</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="cart_product">
									<a href="">
										<img src="../../public/images/cart/one.png" alt="">
									</a>
								</td>
								<td class="cart_description">
									<h4>
										<a href="">Colorblock Scuba</a>
									</h4>
									<p>Web ID: 1089772</p>
								</td>
								<td class="cart_price">
									<p>$59</p>
								</td>
								<td class="cart_quantity">
									<div class="cart_quantity_button">
											<input class="cart_quantity_input" type="text" name="quantity" value="2" autocomplete="off" min="1" id="item2">

									</div>
								</td>
								<td class="cart_total">
									<p class="cart_total_price">$59</p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" href="">
										<i class="fa fa-times"></i>
									</a>
								</td>
							</tr>

							<tr>
								<td class="cart_product">
									<a href="">
										<img src="../../public/images/cart/two.png" alt="">
									</a>
								</td>
								<td class="cart_description">
									<h4>
										<a href="">Colorblock Scuba</a>
									</h4>
									<p>Web ID: 1089772</p>
								</td>
								<td class="cart_price">
									<p>$59</p>
								</td>
								<td class="cart_quantity">
									<div class="cart_quantity_button">
											<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" min="1" id="item3">

									</div>
								</td>
								<td class="cart_total">
									<p class="cart_total_price">$59</p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" href="">
										<i class="fa fa-times"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td class="cart_product">
									<a href="">
										<img src="../../public/images/cart/three.png" alt="">
									</a>
								</td>
								<td class="cart_description">
									<h4>
										<a href="">Colorblock Scuba</a>
									</h4>
									<p>Web ID: 1089772</p>
								</td>
								<td class="cart_price">
									<p>$59</p>
								</td>
								<td class="cart_quantity">
									<div class="cart_quantity_button">
										<input class="cart_quantity_input" type="number" name="quantity" value="1" autocomplete="off" min="1" id="item3">
									</div>
								</td>
								<td class="cart_total">
									<p class="cart_total_price">$59</p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" href="">
										<i class="fa fa-times"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-4 cart-info">
				<!--
				<div class="cart-location">
					<p>Location</p>
					<div>
						<i class="fas fa-map-marker-alt fa-2x" style="margin-right: 10px"></i>
						<span>Hồ Chí Minh,Quận Tân Bình,Phường 12</span>
						<a href="" class="btn-change-location">change</a>
					</div>
				</div>-->
				<div class="total_area">
					<h4 class="text-uppercase">ORDER SUMARY</h4>
					<ul>
						<li>Cart Sub Total
							<span>$59</span>
						</li>
						<li>Eco Tax
							<span>$2</span>
						</li>
						
						<li>Total
							<span>$61</span>
						</li>
					</ul>

					<a class="btn btn-default check_out" href="">Check Out</a>
				</div>
			</div>
		</div>
	</section>
	<!--/#cart_items-->



	<footer id="footer">
		<!--Footer-->
		<% include ../partials/footer %>
	</footer>

	<% include ../partials/head %>

		<script>
			function plus(id) {
				var count = document.getElementById(id).value;
				document.getElementById(id).value = count + 1;
			}
		</script>
</body>

</html>