<!DOCTYPE html>
<html lang="en">

<head>
        <title>ESHOPPER | lockscreen</title>
        <% include ../partials/admin/head %>

</head>
<!--/head-->

<body class="gray-bg">

        <div class="lock-word-custom animated fadeInDown">
            <span >LOCKED</span><span>SCREEN</span>
        </div>
            <div class="middle-box text-center lockscreen animated fadeInDown">
                <div>
                        
                    <h3>NAME</h3>
                    <p>Your are in lock screen. Main app was shut down and you need to enter your passwor to go back to app.</p>
                    <form class="m-t" role="form" action="index.html">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="******" required="">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width">Unlock</button>
                    </form>
                </div>
            </div>
        
            <!-- Mainly scripts -->
            <script src="/javascripts/jquery-2.1.1.js"></script>
            <script src="/javascripts/bootstrap.min.js"></script>
        
        </body>

</html>