<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Forgot password</title>

    <% include ../partials/admin/head %>

</head>

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold text-center">Change password</h2>

                    <p>
                        Enter your new password!
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="user/reset-password" method="POST">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="New password" required="" name="newPass">
                                </div>
                                <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Re-password" required="" onchange="check()">
                                    </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        
    </div>
<script>
    function check() {
        var pass = document.getElementById("password").value;			
        var rePass = document.getElementById("rePassword").value;
        if (pass!=rePass){
            document.getElementById("errorRePass").innerHTML="Passwords do not match please re-enter!";
            document.getElementById("rePassword").value = "";
            
        }
        else if (pass===rePass){
            document.getElementById("errorRePass").innerHTML="";
        }
        
    }
<script>
    
</body>

</html>
