<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<!--/head-->

<body>
    <header id="header">
        <% include ../partials/header %>
    </header>

    <section>
        <div class="container">
            <!--navigation-->
            <h1> Please verify your account </h1>
            <p> Check the mailbox in your email! <a href="https://gmail.google.com/">Click here</a> </p>

    </section>

    <footer id="footer">
        <% include ../partials/footer %>
    </footer>

    <% include ../partials/js %>
</body>

</html>